---
import { changeLanguage } from "i18next";
import About from "@components/About.astro";
import Contact from "@components/Contact.astro";
import Hero from "@components/Hero.astro";
import Projects from "@components/Projects.astro";
import BackToTop from "@components/ui/BackToTop.astro";
import Layout from "@layouts/Layout.astro";
import Skills from "@components/Skills.astro";
import Education from "@components/Education.astro";
import Experience from "@components/Experience.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

changeLanguage("en");
---

<Layout>
	<Navbar/>
	<main class="flex flex-col space-y-[25vh]">
		<Hero />
		<About />
		<Education />
		<Experience />
		<Projects />
		<Skills />
		<Contact />
		<BackToTop />
	</main>
	<Footer/>
</Layout>
