<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Made by <a
			href="https://github.com/Blesy"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Blesy Angulo</span>
		</a>.
		Based on <a href="https://github.com/veranikabarel/astro-portfolio" target="_blank" rel="noopener"
			><span class="text-orange">Veranika's</span></a
		> design.
	</p>
</footer>
