---
import heroImage from '@assets/images/hero.png';
import { Image } from 'astro:assets';
import { Trans } from "astro-i18next/components";
---

<section
	data-testid="hero"
	class="flex h-screen md:h-auto flex-col-reverse items-center justify-center text-center lg:flex-row md:mt-[20vh]"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				<Trans i18nKey="home.title">
					Hi! My name is <span class="text-orange">Blesy Angulo</span> and I am a software engineer based in Mexico.
				</Trans>
			</h1>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Blesy Angulo"
			format="png"
			width={400}
			height={400}
			loading="eager"
			class="invertir image--cover"
		/>
	</div>
</section>

<style>
	.invertir {
		transform: scaleX(-1);
	}
	.image--cover {
		border-radius: 50%;
		object-fit: cover;
		object-position: center right;
	}
</style>
